
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    请输入要爬取的URL:<input id="path" type="text"/>
    <br />
    <input type="button" value="开始分析" id="sub"/>
    <span id="keys"></span>
</body>
</html>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    (function ($) {
        var Main = function () {
            if (!(this instanceof Main)) {
                return new Main();
            }
            this.Init = function () { 
                
            }
            this.Submit = function () {
                $(document).on("click", "#sub", function () {
                    console.log("click");
                    $.post("", { "path": $("#path").val() }, function (result) {
                        $("#keys").html(result);
                     },"JSON");
                })
            }
        }
     })(jQuery)
</script>